.companies__container {
  display: grid;
}

.company {
  background: var(--color-bg-variant);
  border-radius: 0 0 2rem 2rem;
  border: 1px solid var(--color-primary);
  height: fit-content;
  transition: var(--transition);
}

.company:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
  cursor: default;
}

.company_head {
  background: var(--color-primary);
  padding: 2rem;
  border-radius: 0 0 2rem 2rem;
  box-shadow: 0 2rem 1rem rgba(0, 0, 0, 0.1);
}

.company_head h3 {
  color: var(--color-bg);
  font-size: 1rem;
  text-align: center;
}

.roles__list {
  padding: 2rem;
}

.roles__list li {
  display: flex;
  gap: 1rem;
  margin-bottom: 0.8rem;
}

.roles__list-icon {
  color-scheme: var(--color-primary);
  margin-top: 2px;
}

.roles__list p {
  font-size: 0.9rem;
}
